* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial;
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.root--inner {
  background-color: var(--bg, hsl(217.5deg, 44.4%, 96.5%));
  background-image: url("./../i/footer-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 1920px auto;
}

@media screen and (min-width: 1921px) {
  .root--inner {
    background-size: 100% auto;
  }
}
@media screen and (max-width: 1199px) {
  html,
body {
    font-size: 16px;
  }
}
.button {
  display: block;
  padding: 0.75rem 2rem;
  font-size: 0.9rem;
  line-height: 1em;
  border-radius: var(--border-radius-l, 1.2rem);
  cursor: pointer;
  text-align: center;
  background: var(--active, hsl(209deg, 73%, 58%));
  background: linear-gradient(to right, hsl(209deg, 73%, 58%) 0%, hsl(209deg, 73%, 58%) 50%, hsl(199.8deg, 60.2%, 64.5%) 100%);
  background-size: 200% 100%;
  background-position: -100% 0%;
  color: var(--color-white-1000, white);
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(31, 42, 102, 0.07);
  transition: all 0.1s ease-in-out;
  will-change: box-shadow;
}
.button:hover {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.9), 2px 2px 4px rgba(31, 42, 102, 0.08);
  -webkit-animation: gradient-hover var(--transition-dur-s, 0.2s) ease-out forwards;
          animation: gradient-hover var(--transition-dur-s, 0.2s) ease-out forwards;
}

.insp-gr {
  color: var(--color-active);
  background: linear-gradient(to right, hsl(209deg, 73%, 58%) 0%, hsl(199.8deg, 60.2%, 64.5%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes gradient-hover {
  0% {
    background-position: -100% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}

@keyframes gradient-hover {
  0% {
    background-position: -100% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
.wrapper-1200 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem var(--grid-pad, 1rem);
}

.clr-bl-1000 {
  color: var(--color-black-1000, hsl(0deg, 0%, 0%));
}

.clr-bl-800 {
  color: var(--color-black-800, hsl(0deg, 0%, 20%));
}

.pad-r-1col {
  padding-right: var(--col-1-of-3, 33%);
}

.pad-l-1col {
  padding-left: var(--col-1-of-3, 33%);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

.dots {
  --dot-size: .38rem;
  --dot-size-active: calc(var(--dot-size) * 3.2);
  --dot-color: var(--active);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: calc(var(--dot-size) * 1.3);
}
.dots--item {
  font-size: 0px;
  line-height: 0px;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: calc(var(--dot-size) / 2);
  background-color: var(--dot-color);
  transition: all 0.2s ease-in-out;
}
.dots--item_active {
  width: var(--dot-size-active);
}
.dots_vertical {
  flex-direction: column;
}
.dots_vertical .dots--item_active {
  width: var(--dot-size);
  height: var(--dot-size-active);
}

.section + .section {
  margin-top: 6rem;
}

.main {
  position: relative;
  z-index: 30;
  padding-bottom: 3rem;
  overflow: hidden;
}
.main > picture {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateX(48vw);
}

.header {
  z-index: 20;
  min-height: 4.5rem;
}
.header--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--wrapper {
  min-height: 4.5rem;
}
.header #cta-0 {
  display: none;
}
.header.is-sticked .header--wrapper {
  position: fixed;
  left: 0;
  right: 0;
  background-color: hsla(0deg, 0%, 100%, 0.65);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 10;
  -webkit-animation-name: menuFadeDown;
          animation-name: menuFadeDown;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: forward;
          animation-iteration-count: forward;
}
.header.is-sticked .header--wrapper #cta-0 {
  display: block;
}

@-webkit-keyframes menuFadeDown {
  0% {
    top: -6rem;
  }
  100% {
    top: 0px;
  }
}

@keyframes menuFadeDown {
  0% {
    top: -6rem;
  }
  100% {
    top: 0px;
  }
}
.hero {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.hero--wrapper {
  padding: 1.25rem var(--grid-pad, 1rem);
}
.hero--title-1st {
  font-size: 3rem;
}
.hero--title-2nd {
  font-size: 7.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--active);
  margin-top: -0.8rem;
}
.hero--subtitle {
  font-size: 1.6rem;
  margin-top: 1.3rem;
}
.hero--text {
  font-size: 1rem;
  opacity: 0.8;
  margin-top: 1rem;
}

.stratched-button {
  width: var(--grid-col);
}
.stratched-button > * {
  margin: 0 auto;
}
.stratched-button .button {
  margin-top: 1.5rem;
  min-width: 75%;
}

.f-cols--wrapper {
  display: flex;
  gap: var(--grid-gap);
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: stretch;
  align-items: stretch;
}
.f-cols--item {
  flex: 1 1 33%;
}

.f-col {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  z-index: 1;
  text-align: center;
  color: var(--color-black-800, hsl(0deg, 0%, 20%));
  transition: transform 0.1s ease-in-out;
  will-change: transform;
}
.f-col::after, .f-col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--border-radius-l, 1.2rem);
}
.f-col::before {
  background: hsla(0deg, 0%, 100%, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: -1;
}
.f-col::after {
  box-shadow: -15px -15px 20px rgba(255, 255, 255, 0.8), 15px 15px 20px rgba(31, 42, 102, 0.07);
  transition: box-shadow 0.1s ease-in-out;
}
.f-col:hover {
  transform: translateY(3px);
}
.f-col:hover::before {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.f-col:hover::after {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.9), 2px 2px 4px rgba(31, 42, 102, 0.08);
}

.icon {
  width: 3rem;
  height: 3rem;
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.icon-01 {
  background-image: url("./../i/ico_01.svg");
}
.icon.icon-02 {
  background-image: url("./../i/ico_02.svg");
}
.icon.icon-03 {
  background-image: url("./../i/ico_03.svg");
}
.icon.icon-footer {
  background-image: url("./../i/ico_footer.svg");
}

.possibilities--cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./../i/s2-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.possibilities--gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  will-change: top, transform;
}
.possibilities--gallery > * + * {
  margin-top: 2.5rem;
}
.possibilities h2 {
  text-align: center;
}
.possibilities h2 span {
  text-transform: uppercase;
  font-weight: bold;
}

.note-w-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
  flex-wrap: nowrap;
}
.note-w-text--left {
  flex: 1 1 auto;
  position: relative;
}
.note-w-text--right {
  flex: 0 1 var(--grid-col);
}
.note-w-text--image {
  aspect-ratio: 10/6;
  position: relative;
}
.note-w-text--bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.note-w-text--im {
  width: 75.53%;
  aspect-ratio: 574/360;
  position: absolute;
  left: 12.237%;
  top: 6.264%;
}
.note-w-text--im img {
  width: 100%;
  height: auto;
}
.note-w-text--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.note-w-text--dots {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.slider {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  overflow-y: hidden;
}
.slider--item {
  display: none;
}
.slider--item_active {
  display: block;
}

.text-section {
  width: 100%;
  height: 100%;
  overflow-y: visible;
  position: relative;
}
.text-section--item {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  min-height: 100%;
  transform: translateY(-50%);
  will-change: transform, top;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-section h3 {
  font-weight: bold;
  font-size: 1.4rem;
}
.text-section--paragraph {
  margin-top: 1.5rem;
}

.additional--heading {
  position: relative;
}
.additional--heading h3 {
  text-align: right;
}
.additional--heading p {
  font-size: 1rem;
  color: var(--color-black-800);
  margin-top: 1rem;
}
.additional--content {
  margin-top: 2rem;
}
.additional .f-col {
  justify-content: flex-start;
  padding-bottom: 2.8rem;
}

.invitation {
  padding-bottom: 6rem;
}
.invitation h3 {
  margin-top: 0.5rem;
}
.invitation--text {
  margin-top: 1.2rem;
}
.invitation--bottom {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.invitation--bottom .icon {
  width: 12rem;
  height: 12rem;
  margin-right: 2rem;
}
.invitation--bottom-text {
  color: var(--color-white-1000, white);
  text-align: right;
}

@media screen and (max-width: 1480px) {
  h1, h2, h3 {
    word-break: break-word;
  }
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1199px) {
  :root {
    --grid-gap: 1rem;
    --grid-pad: 1rem;
  }
  .root--inner {
    background-position: center bottom -3rem;
  }
  h1, h2, h3 {
    word-break: break-word;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  .wrapper-1200 {
    max-width: 100vw;
  }
  .f-cols--wrapper {
    flex-direction: column;
  }
  .f-col::before {
    display: none;
  }
  .f-col::after {
    border: 1px solid var(--active);
  }
  .additional h3 {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .header--wrapper {
    min-height: auto;
  }
  .header--inner {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .header:not(.is-sticked) .header--inner {
    justify-content: center;
  }
  .header:not(.is-sticked) .header--inner .logo {
    max-width: 85%;
  }
  .header.is-sticked .logo {
    display: inline-block;
    width: 2.1rem;
    height: 2.25rem;
    background-image: url(./../i/logo.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header.is-sticked .logo img {
    display: none;
  }
  .possibilities--cont {
    background-position: center 35%;
    background-size: 120% auto;
  }
  .possibilities--gallery {
    height: 100vh;
    padding-top: 70px;
  }
  .possibilities--gallery h2 {
    font-size: 1.2rem;
    flex: 0 0 auto;
  }
  .possibilities--gallery .note-w-text {
    flex: 1 1 auto;
  }
  .possibilities--gallery > * + * {
    margin-top: 1rem;
  }
  .note-w-text {
    flex-direction: column;
  }
  .note-w-text--left {
    flex: 0 1 calc((90vw - 2 * var(--grid-pad)) * 2 / 3);
    z-index: 2;
  }
  .note-w-text--right {
    flex: 1 1 auto;
  }
  .stratched-button {
    width: 100%;
  }
  .pad-l-1col, .pad-r-1col {
    padding: 0;
  }
  .section + .section {
    margin-top: 3rem;
  }
  .main {
    padding-bottom: 0;
  }
  .main > picture {
    opacity: 0.6;
    width: 80%;
    margin: 0 auto;
    transform: translate(0, 1rem);
  }
  .hero {
    padding-top: 6rem;
    padding-bottom: 0rem;
  }
  .hero .pad-r-1col > * {
    word-break: break-word;
    text-align: center;
  }
  .hero--title-1st {
    font-size: 2rem;
  }
  .hero--title-2nd {
    font-size: 3rem;
    margin-top: 0rem;
  }
  .hero--subtitle {
    font-size: 1.2rem;
  }
  .invitation--bottom .icon {
    width: 4rem;
    height: 4rem;
    margin-right: 0rem;
  }
}