* 
    box-sizing: border-box

html, 
body
    min-height: 100vh
    font-family: Arial
    font-size: 20px
    line-height: 1.3

body
    background-color: var(--bg, hsl(217.5, 44.4%, 96.5%))
    background-image: url("./../i/footer-bg.jpg")
    background-position: center bottom
    background-repeat: no-repeat
    background-size: 1920px auto

@media screen and (min-width: 1921px)
    body
        background-size: 100% auto

@media screen and (max-width: 1199px)
    html, 
    body
        font-size: 16px

// -------------------------------------------------------------------------
    
.button 
    display: block
    padding: .75rem 2rem
    font-size: .9rem
    line-height: 1em
    border-radius: var(--border-radius-l, 1.2rem)
    cursor: pointer
    text-align: center

    background: var(--active, hsl(209, 73%, 58%))
    background: linear-gradient(to right, hsl(209, 73%, 58%) 0%, hsl(209, 73%, 58%) 50%, hsl(199.8, 60.2%, 64.5%) 100%)
    background-size: 200% 100%
    background-position: -100% 0%

    color: var(--color-white-1000, white)

    &:hover
        animation: gradient-hover var(--transition-dur-s, .2s) ease-out forwards

.insp-gr
    // text-transform: uppercase
    // font-weight: bold
    color: var(--color-active)
    
    background: linear-gradient(to right, hsl(209, 73%, 58%) 0%, hsl(199.8, 60.2%, 64.5%) 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

@keyframes gradient-hover
    0% 
        background-position: -100% 0%
    100%
        background-position: -200% 0%

.wrapper-1200
    max-width: 1200px
    margin: auto
    padding: 1rem var(--grid-pad, 1rem)

.clr-bl-1000
    color: var(--color-black-1000, hsl(0, 0%, 0%))

.clr-bl-800
    color: var(--color-black-800, hsl(0, 0%, 20%))

.pad-r-1col
    padding-right: var(--col-1-of-3, 33%)

.pad-l-1col
    padding-left: var(--col-1-of-3, 33%)

h2
    font-size: 3rem
h3
    font-size: 1.6rem


// -------------------------------------------------------------------------
.section + .section 
    margin-top: 5rem

.main
    position: relative
    z-index: 1
    padding-bottom: 3rem

    .header
        z-index: 10

    > picture 
        position: absolute
        z-index: -1
        left: 0
        right: 0
        top: 0
        bottom: 0
        object-fit: cover
        transform: translateX(48vw)

.header 
    &--wrapper
        display: flex
        justify-content: space-between
        align-items: center

   
.hero
    padding-top: 3rem
    padding-bottom: 2rem

    &--wrapper 
        padding: 1.25rem var(--grid-pad, 1rem)

    &--title-1st
        font-size: 3rem

    &--title-2nd
        font-size: 7.5rem
        font-weight: bold
        text-transform: uppercase
        color: var(--active)
        margin-top: -0.8rem
    

    &--subtitle
        font-size: 1.6rem
        margin-top: 1.3rem

    &--text
        font-size: 1rem
        opacity: .8
        margin-top: 1rem

.stratched-button
    width: var(--grid-col)
    > *
        margin: 0 auto
        
    .button
        margin-top: 1.5rem
        padding-left: 3.5rem
        padding-right: 3.5rem


.f-cols
    &--wrapper
        display: flex
        gap: var(--grid-gap)
        padding-top: 1rem
        padding-bottom: 1rem

        justify-content: stretch
        align-items: stretch
        
    &--item
        flex: 1 1 33%
    
.f-col
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1rem

    padding: 1.5rem
    z-index: 1
    text-align: center
    color: var(--color-black-800, hsl(0, 0%, 20%))

    &:after,
    &:before 
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border-radius: var(--border-radius-l, 1.2rem)
    
    &:before
        background: hsla(0, 0%, 100%, .4)
        backdrop-filter: blur(4px)
        z-index: -1

    &:after 
        box-shadow:  .5rem .5rem 1.5rem hsl(0, 0%, 75%), -.5rem -.5rem 1.5rem hsl(0, 0%, 100%)

    .icon 
        font-size: 3rem
        width: 3rem
        height: 3rem
        background: cyan
        opacity: .2


// Секция 2

.possibilities
    background: url(./../i/s2-bg.jpg)
    background-repeat: no-repeat
    background-position: center center
    background-size: contain

    &--wrapper
        display: flex
        flex-direction: column
        align-items: center

        & > * + * 
            margin-top: 2.5rem

    h2
        text-align: center
        // max-width: min(calc(.75 * 1200px), 100vw)

        span
            text-transform: uppercase
            font-weight: bold


.note-w-text
    display: flex
    flex-direction: row
    gap: var(--grid-gap)
    flex-wrap: nowrap

    &--left
        flex: 1 1 auto

    &--right
        flex: 0 1 var(--grid-col)

    
    &--image 
        aspect-ratio: 10 / 6
        position: relative

    &--bg
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        object-fit: contain

    &--im 
        width: 75.53%
        height: auto
        aspect-ratio: 574 / 360
        position: absolute
        left: 12.237%
        top: 6.264%

    &--right
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding-bottom: 2rem

    &--dots 
        position: relative
        display: flex
        justify-content: center
        margin-top: 1.45rem

.dots 
    --dot-size: .38rem
    --dot-size-active: calc(var(--dot-size) * 3.2)
    --dot-color: var(--active)

    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: nowrap
    gap: calc(var(--dot-size) * 1.3)

    &--item 
        font-size: 0px
        line-height: 0px
        width: var(--dot-size)
        height: var(--dot-size)
        border-radius: calc(var(--dot-size) / 2)
        background-color: var(--dot-color)
    
        &_active
            width: var(--dot-size-active)


.text-section
    h3
        font-weight: bold
        font-size: 1.4rem

    &--paragraph
        margin-top: 1.5rem

.additional

    &--heading
        position: relative

        h3
            text-align: right

        p
            font-size: 1rem
            color: var(--color-black-800)
            margin-top: 1rem

    &--content
        margin-top: 2rem

    .f-col
        justify-content: flex-start
        padding-bottom: 2.8rem

.invitation
    padding-bottom: 6rem

    h3 
        margin-top: .5rem

    &--text
        margin-top: 1.2rem
    
    &--bottom
        margin-top: 3rem

        &-text
            color: var(--color-white-1000, white)
            text-align: right
